@media ( max-width: 1199px  )
    .promo
        h1
            font-size: 60px
        h2
            font-size: 35px
        &__item
            .promo__descr
                width: 230px
                font-size: 14px
    .header__navbar
        display: none

    .advantages__wrapper
        flex-direction: column
        justify-content: center
        align-items: center
    .works
        &__wrapper
            flex-direction: column
            align-items: center
        &__item
            margin-top: 15px
            align-items: center
            .works__image
                display: block
                margin: 0 auto
            .works__descr
                width: 100%
                text-align: center

    .price
        &__item
            .price__up-item
                width: 230px
            .price__down-item
                width: 230px

    .scheme
        &__wrapper
        &__item
            .scheme__descr
                width: 200px
                font-size: 12px
    .container
        .feedback__orange-ball
            &::after
                width: 420px
            &::before
                width: 420px          
        .feedback__form
            padding: 0 71px
        .button_submit::before
            width: 380px
        .button_submit::after
            width: 380px
    